.modal-content {
  }

  .formheader-wrapper {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 75%;
  }
  
  .formheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .close {
    display: flex;
    width: 10rem;
    height: 2rem;
    justify-content: flex-end ;
    cursor: pointer;

  }
  .formbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #submit-button{
    width: 10rem;
    
  }
  #close-button{
    width: 10rem;
    border: 1px solid #f8fafc;
    color: #f8fafc;
    background-color:#020817 ;
  }
  
  .form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  