.mainpage-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem ;
}

.mainpage-header__title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.mainpage-header__text {
  max-width: 20rem;
}



