.mainpage-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem ;
}

.mainpage-header__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.mainpage-header__text {
  max-width: 12rem;
}



