.filter-section {
    display: flex;
    width: 100%;
    color: #141c2e;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.filter-section__select {
    width: 80%;
    height: 3rem;
    color: #f8fafc;
    background-color: #020817;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    border: solid 2px #212f4d;
    border-radius: 5px;
}


