.driver-card{
  border: solid 1px gray;
  border-radius: 10px;
  color: rgb(200, 204, 233);

}

.driver-card__section{
  margin: 10px;

}

.not-available {
    border: solid 1px rgb(113, 86, 86);
    color: rgb(124, 126, 144);
    
  }

  .driver-available {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delete-button {
  height: 2rem;
  width: 12rem;
  margin: 0 2rem;
  border: solid 1px rgb(113, 86, 86);
  color: rgb(171, 95, 95);
  background-color: #020817;
}

.drivercard-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}